#root {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  padding-top: 4em;
}

footer {
  display: flex;
  font-size: xx-small;
  flex: 1;
  padding: 1em;
  width: 100%;
  opacity: 0.2;
  color: #5E2315;
  /* border-top: 1px solid #5E2315; */
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
}

ul {
  display: inline-block;
  text-align: left;
}

.images {
  display: flex;
  height: 67vh;
  object-fit: cover;
}

@media (max-width: 600px){
  .images {
    height: 33vh;
  }
}

.descrip {
  margin: 10px;
  max-width: 75%;
  padding: 1em;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 350ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.menu {
  height: 1.7em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 350ms;
}
.menu:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.cart {
  height: 4em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 350ms;
}
.cart:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}


.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes images-scroll{
  from {
    scroll-behavior: smooth;
    scroll-timeline: initial;
  }
  to {
    scroll-timeline: unset;
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


p {
  color: #5E2315;
}

@media (max-width: 600px){
  p {
  font-size: small;
  }
}


.fadeLeftMini {
  animation: fadeLeftMini 1s;
  animation-fill-mode: both;
}

.fadeRightMini {
  animation: fadeRightMini 1s;
  animation-fill-mode: both;
}

@keyframes fadeLeftMini {
  0% {
    opacity: 0;
    transform: translate3d(-40%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translateZ(0);
  }
}

@keyframes fadeRightMini {
  0% {
    opacity: 0;
    transform: translate3d(40%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translateZ(0);
  }
}